# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cppcon/.~lock.presentation.odp#
/OSPython/classes_No_Name.png
/OSPython/html/api-objects.txt
/OSPython/html/class-tree.html
/OSPython/html/crarr.png
/OSPython/html/deadlock-module.html
/OSPython/html/deadlock.Processo-class.html
/OSPython/html/deadlock-pysrc.html
/OSPython/html/deadlock.Stato-class.html
/OSPython/html/epydoc.css
/OSPython/html/epydoc.js
/OSPython/html/frames.html
/OSPython/html/help.html
/OSPython/html/identifier-index.html
/OSPython/html/index.html
/OSPython/html/module-tree.html
/OSPython/html/redirect.html
/OSPython/html/toc-deadlock-module.html
/OSPython/html/toc-everything.html
/OSPython/html/toc.html
/OSPython/deadlockDia.dia~
/SchedulerMultiLevel/schedulerML.zip
/unime/SML5_mirko/diagramma_sorgente.dia~
/unime/SML5_mirko/prgPython.tar.gz
/unime/NetLayer/build/CMakeCache.txt
/unime/NetLayer/build/CMakeFiles/3.2.3/CMakeCCompiler.cmake
/unime/NetLayer/build/CMakeFiles/3.2.3/CMakeCXXCompiler.cmake
/unime/NetLayer/build/CMakeFiles/3.2.3/CMakeDetermineCompilerABI_C.bin
/unime/NetLayer/build/CMakeFiles/3.2.3/CMakeDetermineCompilerABI_CXX.bin
/unime/NetLayer/build/CMakeFiles/3.2.3/CMakeSystem.cmake
/unime/NetLayer/build/CMakeFiles/3.2.3/CompilerIdC/CMakeCCompilerId.c
/unime/NetLayer/build/CMakeFiles/3.2.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
/unime/NetLayer/build/CMakeFiles/cmake.check_cache
/unime/NetLayer/build/CMakeFiles/CMakeDirectoryInformation.cmake
/unime/NetLayer/build/CMakeFiles/CMakeOutput.log
/unime/NetLayer/build/CMakeFiles/feature_tests.bin
/unime/NetLayer/build/CMakeFiles/feature_tests.c
/unime/NetLayer/build/CMakeFiles/feature_tests.cxx
/unime/NetLayer/build/CMakeFiles/Makefile2
/unime/NetLayer/build/CMakeFiles/Makefile.cmake
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/build.make
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/cmake_clean.cmake
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/CXX.includecache
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/DependInfo.cmake
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/depend.internal
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/depend.make
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/flags.make
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/link.txt
/unime/NetLayer/build/CMakeFiles/NetLayer.dir/progress.make
/unime/NetLayer/build/CMakeFiles/progress.marks
/unime/NetLayer/build/CMakeFiles/TargetDirectories.txt
/unime/NetLayer/build/cmake_install.cmake
/unime/NetLayer/build/Makefile
/unime/NetLayer/build/NetLayer
/unime/SML5_mirko/progettoAgg.zip
/unime/NetLayer/build/CMakeFiles/Progress/1
/unime/NetLayer/build/CMakeFiles/Progress/count.txt
/cpp/cppcon2015/ECS/test
/cpp/cppcon2015/ECS/callgrind.out.12929
/cpp/cppcon2015/ECS/callgrind.out.14732
/cpp/cppcon2015/ECS/example/tests
/cpp/cppcon2015/ECS/example/game
/cpp/cppcon2015/ECS/callgrind.out.28039
/cpp/cppcon2015/ECS/callgrind.out.28159
/cpp/cppcon2015/ECS/callgrind.out.29340
/cpp/cppcon2015/ECS/callgrind.out.5859
/cpp/cppcon2015/ECS/callgrind.out.5881
/cpp/cppcon2015/ECS/callgrind.out.26475
/cpp/cppcon2015/ECS/pres_code/p3
/cpp/cppcon2015/ECS/pres_code/p2
/cpp/cppcon2015/ECS/pres_code/p1
/cpp/cppcon2015/ECS/pres_code/p0
/cpp/cppcon2015/ECS/pres_code/p4
/cpp/cppcon2015/ECS/pres_code/p5
/cpp/cppcon2015/decc
/cpp/cppcon2015/ECS/example/partic2
/cpp/cppcon2015/ECS/pres_code/p6
/cpp/cppcon2015/ECS/pres_code/p7
/cpp/cppcon2015/ECS/pres_code/callgrind.out.18133
/cpp/cppcon2015/ECS/pres_code/callgrind.out.18976
/cpp/cppcon2015/ECS/pres_code/callgrind.out.19782
/cpp/cppcon2015/ECS/pres_code/callgrind.out.5115
/cpp/cppcon2015/ECS/pres_code/callgrind.out.5468
/tuedio_rust/target